*{
    align-items: center;
    align-self: center;
    align-content: center;
}
h1,p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#filled-basic{
    width: 500px;
    height: 50px;  
}

.containerConfig{
    margin-top: 50px;
    height: 300px;
    background-color:darkgray;
}
#stack{
    width: 300px;
    height: auto;
    direction: row;
    align-items:flex-start;
}
#form{
    width: 1200px;
    height: auto;
    direction: ltr;
    align-items:center;
}
#formGroup{
    width: 2000px;
    height: auto;
    direction: ltr;
    align-items:center;
}
#bottom{
    margin-top: 15px;
    background-color: red;
    color: aliceblue;
}